th{
	color : #337ab7;
}
.popover-content {
    padding: 0;
}

.margin-icon{
	margin-right : 10px;
	cursor: pointer;
}

.list-group-item{
	cursor: pointer;
}

.new-customer{
	
	background-color: #00AAFF !important;
    padding: 12px  !important;
    color: #fff;
    float: right;
}

.table-responsive {
	overflow-x: unset;
}