<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>
<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>


<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<div class="col-lg-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
							
									<div class=" col-lg-3">
										<h3 class="panel-title">Customers</h3>
										
									</div>
									<div class="col-lg-offset-6 col-lg-3  hidden-xs">
										<button class="new-customer" (click)="newCustomer()">+ New Customer</button>
									</div>


								</div>
								<div class="panel-body">
									<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Name or Business</th>
												<th>Email</th>
												<th>Phone</th>
												<th>Created</th>
												<th> </th>
												
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let customer of customers ; let i = index">
												
												<td>{{ customer.fullname }}</td>
												<td>{{ customer.email }}</td>
												<td>{{ customer.phone }}</td>
												<td>{{ customer.created_at }}</td>
												<td>

													<button  [satPopoverAnchorFor]="contactPopover" (click)="contactPopover.toggle()" class="btn btn-default btn-sm">
		          										<span class="glyphicon glyphicon-option-horizontal"></span>
		        									</button>


													<sat-popover #contactPopover hasBackdrop verticalAlign="below">
													  <div class="list-group">
														
														  <a (click)="editCustomer(customer.id , i)" class="list-group-item list-group-item-action"><span class="margin-icon glyphicon glyphicon-pencil"></span>Edit</a>
														  <a (click)="deleteCustomer(customer.id )" class="list-group-item list-group-item-action"><span class="margin-icon glyphicon glyphicon-remove"></span>Delete</a>
														 
														 
														  </div>

													</sat-popover>
															        								
												</td>
					    
											
											</tr>
											
										</tbody>
										  <tfoot>
									    <tr>
									        <td colspan="5">
									        	<ul class="pagination">

									        		<li (click) = "PreviosPage()"  class="page-item {{ customerspageActive == 1 ? 'disabled' : ''}}"><a class="page-link" style="cursor: pointer">«</a>
									        		</li>
									        		<li *ngFor="let page of customerspages ; let i = index" (click)="goToPage(i+1)" class="page-item {{ i+1 == customerspageActive ? 'active' : '' }}"  ><a class="page-link"  style="cursor: pointer">{{i+1}}</a>
									        		</li>
									        		<!-- <li class="page-item"><a class="page-link" style="cursor: pointer">2</a></li>
									        		 -->
									        		<li (click) = "NextPage()" class="page-item"><a class="page-link" style="cursor: pointer">»</a>
									        		</li>

									        	</ul>
									         <!--    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator> -->
									        </td>
									    </tr>
									    </tfoot>
									</table>
								</div>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
		</div>
	</div>
</div>



