<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<div class="logo text-center"><img src="assets/img/logo.jpg" alt="Klorofil Logo"></div>
								<p class="lead">Login to your account</p>
							</div>
						
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="email" [(ngModel)]="user.email" class="form-control" id="signin-email" value="samuel.gold@domain.com" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" [(ngModel)]="user.password" class="form-control" id="signin-password" value="thisisthepassword" placeholder="Password">
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input type="checkbox">
										<span>Remember me</span>
									</label>
								</div>
								<a type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()">LOGIN</a>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
								</div>
						
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">Broken Screen? No Problem</h1>
							<p>iPhixx is here!</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>