<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>



	<div class="main">

			<div class="main-content">

					<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Edit Customer</h3>
								</div>
								<div class="panel-body">
								<form>
									<div class="col-lg-6 ">
									
										  <div class="form-group">
										    <label for="exampleInputEmail1">Full Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] = "customer.fullname"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
										  </div>
										  <!-- <div class="form-group">
										    <label for="exampleInputPassword1">Last Name</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.lastname" type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
										  </div> -->

										  <div class="form-group">
										    <label for="exampleInputEmail13">Email</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.email" type="email" class="form-control" id="exampleInputEmail13" aria-describedby="emailHelp" placeholder="Email Address">
										  </div>


										    <div  class="form-group">
										    <label for="exampleInputPassword1">Pasword</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
										  	</div>

										    <div class="form-group">
										    <label for="exampleInputEmail1">Phone</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.phone" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone">
										  </div>
										
									</div>
									<div class="col-lg-6 ">
									
										  <div class="form-group">
										    <label for="exampleInputEmail1">Address</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.address" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Address">
										  </div>
										  <div class="form-group">
										    <label for="exampleInputPassword1">City</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.city" type="text" class="form-control" id="exampleInputPassword1" placeholder="City">
										  </div>

										  <div class="form-group">
										    <label for="exampleInputEmail1">State</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.state" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="State">
										  </div>
										    <div class="form-group">
										    <label for="exampleInputEmail1">Zip/Postal Code</label>
										    <input [ngModelOptions]="{standalone: true}" [(ngModel)] ="customer.zip" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Zip/Postal Code">
										  </div>
									
										
									</div>
									<div class="col ">
										<button (click)="actionCustomer()" type="submit" class="btn btn-lg btn-primary update">Save Changes</button>
									</div>
								</form>
								</div>
					</div>
			</div>
	</div>