
<app-navbar > </app-navbar>
<app-sidebar > </app-sidebar>
<app-footer > </app-footer>
<ngx-spinner
	bdColor = "rgba(51, 51, 51, 0.8)"
	size = "medium"
	color = "#fff"
	type = "pacman"
></ngx-spinner>
<div class="main">
	<div class="main-content">
		<div class="container-fluid">
			<div class="col-lg-12">
							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Leads</h3>
								</div>
								<div class="panel-body">
								<!-- 	<table class="table table-hover">
										<thead>
											<tr>
												<th>Lead Name</th>
												<th>Created</th>
												<th>Email</th>
												<th>Issue</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
										
											<tr *ngFor="let lead of leads" >
												<td>{{ lead.first_name + ' ' + lead.last_name }}</td>
												<td>{{ lead.created_at }}</td>
												<td>{{ lead.email }}</td>
												<td>{{ lead.ticket_subject }}</td>
												<td>{{ lead.status }}</td>
											</tr>
											
										</tbody>
									</table> -->
									<div class="table-responsive">
									<table class="table table-hover ">
									    <thead>
									    <tr>
									        <th style="width: 20%">
									            Lead Name
									        </th>
									        <th style="width: 20%">
									            Created
									        </th>
									        <th style="width: 20%">
									          Email
									        </th>
									        <th style="width: 20%">
									           Issue
									        </th>
									        <th style="width: 10%">
									            Status
									        </th>
									        <th style="width: 10%">
									            
									        </th>

									    </tr>
									    </thead>
									    <tbody>
									    <tr *ngFor="let lead of leads" >
									       <!--  <td>{{item.name}}</td>
									        <td>{{item.email}}</td>
									        <td class="text-right">{{item.age}}</td>
									        <td>{{item.city | uppercase}}</td>
									        <td>{{item.city | uppercase}}</td> -->
									        <td>{{ lead.fullname }}</td>
												<td>{{ lead.created_at }}</td>
												<td>{{ lead.email }}</td>
												<td>{{ lead.device }} Repair</td>
												<td>{{ lead.status }}</td>
												<td><button (click) = "updateBooking(lead.id)" class="btn btn-primary">Resolve</button></td>
									    </tr>
									    </tbody>
									    <tfoot>
									    <tr>
									        <td colspan="5">
									        	<ul class="pagination">

									        		<li (click) = "PreviosPage()"  class="page-item {{ pageActive == 1 ? 'disabled' : ''}}"><a class="page-link" style="cursor: pointer">«</a>
									        		</li>
									        		<li *ngFor="let page of pages ; let i = index" (click)="goToPage(i+1)" class="page-item {{ i+1 == pageActive ? 'active' : '' }}"  ><a class="page-link"  style="cursor: pointer">{{i+1}}</a>
									        		</li>
									        		<!-- <li class="page-item"><a class="page-link" style="cursor: pointer">2</a></li>
									        		 -->
									        		<li (click) = "NextPage()" class="page-item"><a class="page-link" style="cursor: pointer">»</a>
									        		</li>

									        	</ul>
									         <!--    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator> -->
									        </td>
									    </tr>
									    </tfoot>
									</table>
										
									</div>
								</div>
							</div>
							<!-- END TABLE HOVER -->
						</div>
						

		</div>
	</div>
</div>



